dist: xenial
language: python
python:
  - "3.8"
  # command to install dependencies

before_install:
- sudo apt-get install wget -y
- sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
- sudo wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add - 
- sudo apt-get update -y

install:
  - sudo apt-get -y install postgresql
# command to run tests
script:
  - echo HELLO_WORLD
  - pwd
  - ls
  - sudo service postgresql status
  - sudo mkdir test
  - git clone git@github.com:vinaysharma031/test.git test
  - cd test
  - ls  
  
  
  
  
